<%= render "shared/errors", obj: @article %>

<%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="row pt-3">
    <div class="control-label col-md-2 text-right">
      <%= f.label :title %>
    </div>
    <div class="col-md-10">
      <%= f.text_field :title, class: "form-control", placeholder: "Title of blog post", autofocus: true %>
    </div>
  </div>
  <div class="row pt-3">
    <div class="control-label col-md-2 text-right">
      <%= f.label :body %>
    </div>
    <div class="col-md-10">
      <%= f.text_area :body, rows: 10, class: "form-control", placeholder: "Body of blog post" %>
    </div>
  </div>
  <div class="row pt-3">
    <div class="offset-md-2 col-md-10">
      <%= f.submit class: "btn btn-primary btn-large" %>
    </div>
  </div>
<% end %>
<div class="row pt-3">
  <div class="col-md-12">
    <%= link_to "Back to all blog posts", articles_path %>
  </div>
</div>
