<h1 class="mt-5 mb-4 text-center">Welcome to <%= @user.username %>'s page</h1>

<div class="row text-center">
  <div class="col-md-12">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>

<h4 class="text-center mt-2"><%= @user.username %>'s articles</h4>

<%= will_paginate @user_articles, list_classes: %w(pagination justify-content-center my-4) %>

<%= render "articles/articles", obj: @user_articles %>
